{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <h2>Division First</h2>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>TeamName</th>
                        <button class="btn btn-action" id="first" name="first">Generate First</button>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

            <div class="col-md-6">
                <h2>Division Second</h2>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>TeamName</th>
                        <button class="btn btn-action" id="second" name="second">Generate Second</button>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $("button").click(function(e) {

                e.preventDefault();

                $.ajax({
                    type: "GET",
                    url: "{{ path('generate_division') }}",
                    data: {
                        divisionName: this.id,
                    },
                    success: function(result) {
                        alert('ok');
                    },
                    error: function(result) {
                        alert('error');
                    }
                });
            });
        });
    </script>
{% endblock %}
